@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body class="main-card">
    <div class="top-bar">
        <img src="/Svg/dumbbell.png" height="55px" width="55px">
        <label id="head">USION</label>
    </div>
    @RenderBody()
    <div class="bottom-bar"></div>
</body>

<style>
    #head {
        font-family: 'Orbitron', sans-serif;
        color: #ffffff;
        font-weight: 800;
        font-size: 40px;
        filter: brightness(1.5);
    }

    .main-card {
        background-image: url(/Images/givemeagyms1-2.png);
        background-size:cover;
        background-repeat: no-repeat;
        backdrop-filter: blur(50px);
        background-color: #610703;
        justify-content: center;
        align-items: center;
        display: flex;
        height:auto;
    }

    .top-bar {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 80px;
        background-color: #1a1717;
        position: fixed;
        top: 0;
        width: 100%;
        opacity: 0.9;
    }

    .bottom-bar {
        height: 40px;
        background-color: #1a1717;
        position: fixed;
        bottom: 0;
        width: 100%;
        opacity: 0.9;
    }
</style>