@{
    Layout = "/Views/Shared/_LayoutOpening.cshtml";
}

@model ConfirmMailDto

<div class="container">
    <div id="my-form1">
        <form class="my-form" asp-controller="Home" asp-action="ForgetMyPassword" method="post">
            <div class="sub-container">
                <input type="text" id="input-mail" asp-for="Mail" />
            </div>
            <br />
            <div class="sub-container">
                <button id="onybutton" type="submit" value="Onayla">Onayla</button>
            </div>
        </form>
    </div>
</div>

<style>
    .sub-container {
        justify-content: center;
        text-align: center;
    }

    .input-code {
        width: 50px;
        height: 70px;
        border: 2px solid #e31207;
        color: #67668a;
        border-radius: 4px;
        font-size: 30px;
        text-align: center;
        outline: none;
    }

        .input-code:focus {
            border-color: #540a07;
        }

    #input-mail {
        width: 200px;
        height: 45px;
        border: 2px solid #e31207;
        color: #780206;
        border-radius: 4px;
        text-align: center;
    }

    #my-form1 {
        //margin-top: 100px;
        display: flex;
        justify-content: space-around;
        width: 380px;
        //background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        padding: 20px;
        //box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-family: 'Orbitron', sans-serif;
        background-color: #ffffff05;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(25px);
    }

    #logo-label {
        height: 48px;
        position: absolute;
        top: 20px;
        left: 20px;
        margin-left: 60px;
        margin-top: 6px;
    }

    body {
        font-family: Arial, sans-serif;
        background-image: url('/Image/yıldızlı-gece-van-gogh.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        //display: flex;
        //justify-content: center;
        //align-items: center;
        //height: 100vh;
        margin: 0;
    }

    #onybutton {
        background-color: #b51007;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 5px;
        height: 40px;
        width: 90px;
        cursor: pointer;
    }

        #onybutton:hover {
            background-color: #660d08;
        }
</style>
