@{
    Layout = "/Views/Shared/_Layout4.cshtml";
}


<div class="login-div">
    <div class="login">
        <header class="header">
            <nav class="navbar">
                <a href="/Admin/Customers">Müşteriler</a>
                <a href="/Admin/Antrenors">Antrenörler</a>
            </nav>
        </header>
        <br />
        <div class="cards-main">
            <div class="list-card">
                <h2 style="color:white;">Müşteri: Emre Can Mece</h2>
                <br />
                <img src="/Images/blankprofile.jpg" style="border-radius:90px; margin-bottom:15px;margin-top:-10px" height="90px" width="90px" />
                <table class="tbl">
                    <tr>
                        <th>Adı Soyadı :</th>
                        <td><input type="text" /></td>
                        <th>Hedef Alanı :</th>
                        <td><input type="text" /></td>
                    </tr>
                    <tr>
                        <th>Kilo:</th>
                        <td><input type="tel" /></td>
                        <th>Boy:</th>
                        <td><input type="tel" /></td>
                    </tr>
                    <tr>
                        <th>Vücut Yağ Oranı:</th>
                        <td><input type="tel" /></td>
                        <th>Kas Kütlesi:</th>
                        <td><input type="tel" /></td>
                    </tr>
                    <tr>
                        <th>İletişim Bilgileri:</th>
                        <td><input type="text" /></td>
                    </tr>
                </table>
                <br />
                <div class="exercises-result">
                    <a href="#" id="btnr">Güncelle</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #deletea {
        background-color: #821008;
    }

        #deletea:hover {
            background-color: #ad170c;
        }

    #detaila {
        background-color: #9e3a08;
    }

        #detaila:hover {
            background-color: #cc4e0e;
        }

    #activea {
        background-color: #370075;
    }

        #activea :hover {
            background-color: #4a009e;
        }

    #updatea {
        background-color: #0c1661;
    }

        #updatea:hover {
            background-color: #14259c;
        }

    .tbl {
        width: 100%;
        border-collapse: collapse;
        background-color: grey;
        border-radius: 10px;
    }

        .tbl th,
        .tbl td {
            padding: 8px;
            padding-bottom: 20px;
            text-align: center;
            color: white;
        }

        .tbl th {
            background-color: #ffffff05;
            font-weight: 600;
        }

        .tbl td a {
            background-color: #a80309;
            font-family: 'Orbitron', sans-serif;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: small;
            margin-left: 8px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }

    #btnr {
        font-family: 'Orbitron', sans-serif;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: small;
        margin-left: 8px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        background-color: #1a1717;
    }

        #btnr:hover {
            background-color: #202421;
        }

    .exercises-result {
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .list {
        text-align: left;
    }

    .listul {
        list-style-type: none;
        padding: 0;
    }

        .listul li {
            margin: 5px;
            padding: 10px;
            border-radius: 5px;
            color: white;
        }

            .listul li :hover {
                background-color: #2b2828;
            }

    .cards-main {
        position: relative;
        display: inline-flex;
        align-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .list-card {
        width: 700px;
        height: auto;
        border-radius: 10px;
        background-color: #21401b;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(25px);
    }

    .navbar a {
        font-size: larger;
        text-decoration: none;
        color: white;
        font-weight: 800;
        margin-left: 40px;
        padding: 10px 20px;
    }

        .navbar a:hover {
            background-size: 100px;
            background-color: #288f2d;
            border-radius: 10px;
        }

    .header {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 1000px;
        margin-top: -20px;
        border-radius: 10px;
        padding: 20px;
        background: #21401b;
    }

    .login-div {
        font-family: 'Orbitron', sans-serif;
        display: flex;
        justify-content: space-around;
        width: 1000px;
        margin-top: -800px;
        background-color: #ffffff05;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(50px);
        border-radius: 10px;
        padding: 20px;
    }

    .login, .register {
        text-align: center;
    }

    input[type="text"], input[type="password"], input[type="tel"] {
        width: 300px;
        padding: 10px;
        margin: 10px 0;
        border: 2px solid #a80309;
        background-color: #dbd8d5;
        border-radius: 5px;
        font-family: 'Orbitron', sans-serif;
        color: #22201e;
        font-size: medium;
        outline: none;
    }

        input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus {
            border-color: #660d08;
        }

    #login-button {
        background-color: #a80309;
        font-family: 'Orbitron', sans-serif;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 3.5px;
        cursor: pointer;
    }

    #goto-register {
        background-color: #a80309;
        font-family: 'Orbitron', sans-serif;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 3.5px;
        cursor: pointer;
    }

        #login-button:hover, #goto-register:hover {
            background-color: #780206;
        }
</style>